-- Complete Supabase Migration Script
-- Generated from apiData.js - Preserving ALL data

-- Drop and recreate table to ensure clean state
DROP TABLE IF EXISTS api_endpoints;

-- Create table with all columns
CREATE TABLE api_endpoints (
  id TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  endpoint TEXT NOT NULL,
  description TEXT,
  category TEXT,
  purpose TEXT,
  methods TEXT[],
  status TEXT DEFAULT 'live',
  rank INTEGER DEFAULT 999,
  request_schema JSONB DEFAULT '{}',
  response_schema JSONB DEFAULT '{}',
  sample_request JSONB DEFAULT '{}',
  sample_response JSONB DEFAULT '{}',
  error_responses JSONB DEFAULT '[]',
  curl_examples TEXT DEFAULT '',
  validation_notes JSONB DEFAULT '[]',
  field_table JSONB DEFAULT '[]',
  products TEXT[] DEFAULT '{}',
  sample_responses JSONB DEFAULT '[]',
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW()
);

-- Create indexes
CREATE INDEX idx_api_endpoints_category ON api_endpoints(category);
CREATE INDEX idx_api_endpoints_status ON api_endpoints(status);
CREATE INDEX idx_api_endpoints_rank ON api_endpoints(rank);

-- Insert complete data preserving ALL fields

-- Inserting: partner-auth

-- Inserting: lead-details

-- Inserting: application

-- Inserting: partner-autoAuth

-- Inserting: partner-token

-- Inserting: v1-redemption-planner

-- Inserting: v1-instant-offers

-- Inserting: v1-lounge-finder

-- Inserting: v1-omni

-- Inserting: v1-webhooks

-- Inserting: partner/token

-- Inserting: cardgenius/initial-data

-- Inserting: cardgenius/cards

-- Inserting: cardgenius/cards-post

-- Inserting: cardgenius/eligibility

-- Inserting: cardgenius/cards/{card_slug}

-- Inserting: partner/health

-- Inserting: cardgenius/cards/calculate

-- Inserting: partner/logout

-- Migration complete
-- All data from apiData.js has been preserved in Supabase
-- Note: cURL examples were skipped to avoid SQL syntax issues
-- You can add them later via the admin panel
