-- Simple Supabase Migration Script
-- Generated from apiData.js

-- Create table
CREATE TABLE IF NOT EXISTS api_endpoints (
  id TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  endpoint TEXT NOT NULL,
  description TEXT,
  category TEXT,
  purpose TEXT,
  methods TEXT[],
  status TEXT DEFAULT 'live',
  rank INTEGER DEFAULT 999,
  request_schema JSONB DEFAULT '{}',
  response_schema JSONB DEFAULT '{}',
  sample_request JSONB DEFAULT '{}',
  sample_response JSONB DEFAULT '{}',
  error_responses JSONB DEFAULT '[]',
  curl_examples JSONB DEFAULT '{}',
  validation_notes JSONB DEFAULT '[]',
  field_table JSONB DEFAULT '[]',
  products TEXT[] DEFAULT '{}',
  sample_responses JSONB DEFAULT '[]',
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW()
);

-- Create indexes
CREATE INDEX IF NOT EXISTS idx_api_endpoints_category ON api_endpoints(category);
CREATE INDEX IF NOT EXISTS idx_api_endpoints_status ON api_endpoints(status);
CREATE INDEX IF NOT EXISTS idx_api_endpoints_rank ON api_endpoints(rank);

-- Insert/Update data using UPSERT (ON CONFLICT)



















-- Migration complete
-- Note: Complex JSON schemas can be updated later via the admin panel
