-- Supabase Migration Script
-- Generated from apiData.js

-- Create table

CREATE TABLE IF NOT EXISTS api_endpoints (
  id TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  endpoint TEXT NOT NULL,
  description TEXT,
  category TEXT,
  purpose TEXT,
  methods TEXT[],
  status TEXT DEFAULT 'live',
  rank INTEGER DEFAULT 999,
  request_schema JSONB,
  response_schema JSONB,
  sample_request JSONB,
  sample_response JSONB,
  error_responses JSONB,
  curl_examples JSONB,
  validation_notes JSONB,
  field_table JSONB,
  products TEXT[],
  sample_responses JSONB,
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW()
);

-- Create indexes
CREATE INDEX IF NOT EXISTS idx_api_endpoints_category ON api_endpoints(category);
CREATE INDEX IF NOT EXISTS idx_api_endpoints_status ON api_endpoints(status);
CREATE INDEX IF NOT EXISTS idx_api_endpoints_rank ON api_endpoints(rank);

-- Insert data




















-- Migration complete
